.contact-us__capture {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: inline-block;
  margin: 0 0 60px;
}

@media screen and (max-width: 1025px) {
  .contact-us__capture {
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 430px) {
  .contact-us__capture {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 40px;
  }
}

.input-wrapper {
  box-sizing: border-box;
  margin: 0 0 10px;
  max-width: max-content;
}

@media screen and (max-width: 650px) {
  .input-wrapper {
    min-width: 100%;
  }
}

.input-wrapper:last-of-type {
  margin: 0;
}

.input-error {
  padding: 4px 0 0;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #000000a2;
}

.input-error_true {
  font-size: 16px;
  line-height: 20px;
  color: #ff0000;
}

.form__input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: transparent;
  padding: 20px 2px;
  min-width: 600px;
  border: none;
  border-bottom: 2px solid #000;
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  resize: none;
}

@media screen and (max-width: 769px) {
  .form__input {
    width: 648px;
  }
}

@media screen and (max-width: 750px) {
  .form__input {
    width: 0;
    max-width: 648px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 650px) {
  .form__input {
    min-width: 100%;
  }
}

.form__input::placeholder {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 430px) {
  .form__input {
    font-size: 14px;
  }
}

.form__input_active {
  margin: 0;
}

.checkbox {
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.checkbox__input-wrapper {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
  width: 28px;
  height: 28px;
}

.checkbox__input {
  opacity: 0;
  margin: 0;
  z-index: 2;
}
.checkbox__label {
  cursor: pointer;
}

.checkbox__input-fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__input-fake {
  background-color: black;
}

.checkbox__input:focus + .checkbox__input-fake {
  outline: 5px auto #1362e1;
}

.checkbox__label-text {
  display: inline-block;
  margin: 0 6px 0 0;
}

.checkbox__link {
  position: relative;
  color: inherit;
}

.checkbox__link-popup {
  cursor: default;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 260px;
  padding: 10px;
  text-align: center;
  max-height: 40px;
  letter-spacing: 0.75px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  .checkbox__link-popup {
    position: absolute;
    top: 0;
    left: -10000000%;
    width: 1px;
    height: 1px;
  }
}

.checkbox__link:hover .checkbox__link-popup {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 430px) {
  .checkbox__link:hover .checkbox__link-popup {
    opacity: 0;
    visibility: hidden;
  }
}

.form-button {
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  padding: 25px 20px;
  border: 2px solid #000;
  border-radius: 30px;
  min-width: 600px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  transition: all 0.2s ease;
  user-select: none;
}

@media screen and (max-width: 769px) {
  .form-button {
    box-sizing: border-box;
    width: 648px;
  }
}

@media screen and (max-width: 750px) {
  .form-button {
    width: 0;
    max-width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .form-button {
    width: 0;
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .form-button {
    min-width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .form-button {
    padding: 10px 20px;
  }
}

.form-button:hover {
  font-style: italic;
}

.form-button_disabled {
  position: relative;
}

.form-button_disabled:hover {
  font-style: normal;
}

.form-button-popup {
  cursor: default;
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  padding: 10px;
  min-height: 30px;
  letter-spacing: 0.75px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  transition: all 0.6s ease;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  .form-button-popup {
    position: absolute;
    top: 0;
    left: -10000000%;
    width: 1px;
    height: 1px;
  }
}

.form-button_disabled:hover .form-button-popup {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 430px) {
  .form-button_disabled:hover .form-button-popup {
    opacity: 0;
    visibility: hidden;
  }
}
