.main {
  max-width: 1260px;
  background-color: #fff;
  color: #000000;
  padding: 110px 50px;
  box-sizing: border-box;
}

.container {
  margin: 0 0 90px;
  max-width: 760px;
}

.containerTitle {
  margin: 0 0 40px;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

.conatainerContent {
}

.containerText {
  margin: 0 0 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.containerText:last-of-type {
  margin: 0;
}

.theses {
  margin: 0;
  padding: 0 0 0 20px;
}

.thesesItem {
  margin: 0 0 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
