.wrapper-about {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.about {
  width: 100%;
  max-width: 1260px;
  min-width: 300px;
  background-color: #fff;
  color: #000000;
  padding: 110px 50px;
  box-sizing: border-box;
  margin: 0 10px;
  border-radius: 8px;
}

@media screen and (max-width: 1025px) {
  .about {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 750px) {
  .about {
    padding: 80px 20px;
  }
}

@media screen and (max-width: 430px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }
}

.container {
  margin: 0 0 90px;
  max-width: 760px;
}

@media screen and (max-width: 1025px) {
  .container {
    margin: 0 0 80px;
    max-width: 680px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 648px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 270px;
    margin-bottom: 60px;
  }
}

.container__title {
  margin: 0 0 40px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

@media screen and (max-width: 1025px) {
  .container__title {
    font-size: 46px;
    line-height: 56px;
  }
}

@media screen and (max-width: 769px) {
  .container__title {
    font-size: 42px;
    line-height: 51px;
  }
}

@media screen and (max-width: 430px) {
  .container__title {
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 30px;
  }
}

.container__text {
  margin: 0 0 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 1025px) {
  .container__text {
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 430px) {
  .container__text {
    font-size: 12px;
    line-height: 16px;
  }
}

.container__text:last-of-type {
  margin: 0;
}

.theses {
  margin: 0;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 1025px) {
  .theses {
    padding: 0 0 0 16px;
  }
}

@media screen and (max-width: 430px) {
  .theses {
    padding: 0 0 0 10px;
  }
}

.theses__item {
  margin: 0 0 14px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 1025px) {
  .theses__item {
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (max-width: 430px) {
  .theses__item {
    font-size: 12px;
    line-height: 16px;
  }
}

.theses__item:last-of-type {
  margin: 0;
}
