.player__play-window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.player__trackbar {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__track-name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.player__track-duration {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.player__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.player__scroll-duration {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.player__info-switcher {
  justify-self: end;
  width: 135px;
  height: 35px;
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 17px;
  outline: 0;
  color: #FFFFFF;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 1024px) {
  .player__track-name {
    font-size: 18px;
    line-height: 22px;
  }

  .player__track-duration{
    font-size: 18px;
    line-height: 22px;
  }

  .player__info-switcher {
    width: 125px;
    height: 34px;
    border-radius: 16px;
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .player__track-name {
    font-size: 14px;
    line-height: 19px;
  }

  .player__track-duration {
    font-size: 14px;
    line-height: 19px;
  }

  .player__info-switcher {
    width: 122px;
    height: 31px;
    border-radius: 15px;
    font-size: 12px;
    line-height: 15px;
  }

}

@media screen and (max-width: 480px) {
  .player__play-window {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    flex-direction: column;
  }

  .player__trackbar {
    height: 32px;
  }

  .player__info-switcher {
    width: 100%;
    max-width: 240px;
    margin: 0;
  }
}