.headerListItem {
  padding: 8px 0;
  text-align: right;
}

.headerListItemHidden {
  display: none;
}

.headerButton {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: none;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 8px;
  transition: .5s;
}

.headerButton:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: .5s;
}

@media screen and (max-width: 1024px) {
  .headerButton {
    font-size: 15px;
    line-height: 18px;
  }

  .headerLinksListItem {
    padding: 14px 0;
  }
}

@media screen and (max-width: 320px) {
  .headerListItem {
    font-size: 12px;
    line-height: 15px;
  }
}
