.player {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.player__wrapper {
  width: 100%;
  height: 206px;
  display: grid;
  grid-template-columns: 61px auto 69px;
  grid-template-rows: 42px 164px;
  justify-items: center;
  align-items: center;
}

.player__play-button {
  border: 0;
  outline: 0;
  width: 18px;
  height: 15px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.player__play-button_pause {
  background-image: url('../../images/player/pause-button.svg');
}

.player__play-button_play {
  background-image: url('../../images/player/play-button.svg');
}

.player__hide-switcher {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.player__hide-switcher_open {
  background-image: url('../../images/player/open-button.svg');
}

.player__hide-switcher_close {
  background-image: url('../../images/player/close-button.svg');
}

@media screen and (max-width: 480px) {
  .player__play-button {
    width: 16px;
    height: 13px;
  }

  .player__hide-switcher {
    width: 16px;
    height: 16px;
  }

  .player__wrapper {
    width: 100%;
    height: 206px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 32px 51px 140px;
    justify-items: center;
    align-items: center;
  }
}

/* @media screen and (max-width: 321px) {
  .player__wrapper {
    width: 100%;
    height: 206px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 32px 51px 140px;
    justify-items: center;
    align-items: center;
  }
} */