li {
  cursor: pointer;

}
button {
  cursor: pointer;
}

.player {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto; 
}

.player__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 61px auto 69px;
  grid-template-rows: 42px auto;
  grid-template-areas: 
    'albumcover playbutton playerwindow switcher'
    'albumcover . list .'
  ;
  justify-items: center;
  align-items: center;
}

.player__wrapper_visible {
  transform: translateY(0);
  transition: transform 1s ease;
}

.player__wrapper_hidden {
  transform: translateY(144px);
  transition: transform 1s ease;
}

.player__cover {
  margin-left: 25px;
  padding: 0;
  width: 176px;
  height: 176px;
  border-radius: 4px;
  object-fit: cover;
  grid-area: albumcover;
  align-self: flex-start;
}

.player__cover_hidden { 
  display: none;
}

.player__play-button {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 0;
  outline: 0;
  width: 18px;
  height: 15px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: playbutton;
}

.player__play-button_pause {
  background-image: url('../../images/player/pause-button.svg');
}

.player__play-button_play {
  background-image: url('../../images/player/play-button.svg');
}

.player__hide-switcher {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: switcher;
}

.player__hide-switcher_open {
  background-image: url('../../images/player/open-button.svg');
}

.player__hide-switcher_close {
  background-image: url('../../images/player/close-button.svg');
}

@media screen and (max-width: 1024px) {
  .player__wrapper_hidden {
    transform: translateY(134px);
  }

  .player__cover {
    width: 164px;
    height: 164px;
  }
}

@media screen and (max-width: 768px) {
  .player__wrapper {
    grid-template-columns: 61px 142px auto 69px;
    grid-template-rows: 42px auto;
    grid-template-areas: 
    'playbutton playerwindow playerwindow switcher'
    '. albumcover list .'
  ;
  }

  .player__cover {
    margin-left: 0;
    width: 112px;
    height: 112px;
    justify-self: start;
    align-self: center;
  }
} 

@media screen and (max-width: 640px) {
  .player__wrapper {
    grid-template-rows: 32px auto;
  ;
  }

  .player__wrapper_hidden {
    transform: translateY(114px);
  }
}

@media screen and (max-width: 480px) {
  .player__cover {
    width: 240px;
    height: 240px;
    justify-self: center;
  }

  .player__play-button {
    width: 16px;
    height: 13px;
  }

  .player__hide-switcher {
    width: 16px;
    height: 16px;
  }

  .player__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 32px 282px 51px auto;
    grid-template-areas: 
    'playbutton playerwindow switcher'
    '. albumcover .'
    '. selector .'
    '. list .'
  ;
    justify-items: center;
    align-items: center;
  }

  .player__wrapper_hidden {
    transform: translateY(440px);
  }
}
